<div class="navbar-auto">
  <a href="/"><button class="btn-cadastrar">Cadastrar</button></a>
  <a href="/"><button class="btn-cadastrar">Consultar</button></a>
</div>

<div class="container-sm">
  {{#each post}}
    {{#dataValues}}
      <form
        class="row g-3 needs-validation"
        action="/atualizar"
        method="post"
        novalidate
      >
        <div class="col-md-6">
          <input
            type="hidden"
            name="id"
            class="form-control"
            id="nome"
            value="{{id}}"
          />
          <label for="inputName" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            placeholder="Nome Completo"
            value="{{nome}}"
            required
          />
          <div class="invalid-feedback">Digite um nome.</div>
        </div>
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">CEP</label>
          <input
            type="text"
            class="form-control"
            id="cep"
            name="cep"
            placeholder="Somente números"
            value="{{cep}}"
            required
          />
          <div class="invalid-feedback">Digite um CEP Válido.</div>
        </div>
        <div class="col-md-6">
          <label for="inputEndereco" class="form-label">Endereço</label>
          <input
            type="text"
            class="form-control"
            id="endereco"
            name="endereco"
            placeholder="Rua"
            value="{{endereco}}"
            required
          />
          <div class="invalid-feedback">Digite um Endereço.</div>
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Cidade</label>
          <input
            type="text"
            class="form-control"
            id="cidade"
            name="cidade"
            placeholder="Cidade"
            value="{{cidade}}"
            required
          />
          <div class="invalid-feedback">Digite uma Cidade.</div>
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Estado</label>
          <select id="estado" name="estado" class="form-select">
            <option value="{{estado}}" selected>{{estado}}</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
            <option value="EX">Estrangeiro</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputZip" class="form-label">Bairro</label>
          <input
            type="text"
            class="form-control"
            id="bairro"
            name="bairro"
            placeholder="Bairro"
            value="{{bairro}}"
            required
          />
          <div class="invalid-feedback">Digite um Bairro.</div>
        </div>
        <div class="botao">
          <button type="submit" class="button">Editar</button>
        </div>
      </form>
    {{/dataValues}}
  {{/each}}
</div>

<script src="js/validate.js"></script>